body {
    background-color: rgb(15, 15, 15);
    background-image: url("backgroundimage.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#mainbox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}

#title {
    color: white;
}